.component-props-title {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}
.components-props {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 1rem;
    text-decoration: none;
  }
}